#override("title")
SpringWind - 客户管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>权限管理</a></li><li class="active"><strong>客户管理</strong></li>
#end
#override("content")
<div class="row">
	<div class="ibox-content text-right form-inline" style="background: #F3F3F4;">
		<div class="input-group">
			<span class="input-group-btn">
			     <input type="text" class="form-control" placeholder="请输入客户昵称" id="customerName" value="">      
			     <input type="text" class="form-control" placeholder="请输入qq号" id="qqAcount" value="">      
			     <input type="text" class="form-control" placeholder="请输入手机号" id="phone" value="">  
			      <input type="text" class="form-control" placeholder="到期开始时间" id="startExpireTime" ></input>
			      <input type="text" class="form-control" placeholder="到期结束时间" id="endExpireTime" ></input>
				<button type="button" class="btn btn-info" onclick="doSearch()">搜索</button>
			</span>
		</div>
		<button class="btn btn-primary" onclick="editCustom(null)" type="button">
		<i class="fa fa-pencil"></i>&nbsp;添加客户</button>
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>

#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script src="#springUrl('/static/js/plugins/datepicker/bootstrap-datepicker.js')"></script>
<!-- <script src="#springUrl('/static/css/plugins/datepicker/datepicker.css')"></script> -->
<script type="text/javascript">
var dataUrl = "#springUrl('/sys/manager/getCustomlist.html')";
		var dataColumns = [{
            field: 'Number',
            title: '序号',
            formatter: function (value, row, index) {
                return index+1;
            }
         }, {
		    field: 'customerName',
		    title: '客户昵称'
		}, {
		    field: 'level',
		    title: '等级',
		    formatter: function (value, row, index) {
		    	if(row.level !=null && row.level<21){
					return "<img src='#springUrl('/static/levelImages/"+row.level+".gif')'>"
		    	}
		    }
		}, {
		    field: 'qqAcount',
		    title: 'qq'
		}, {
		    field: 'phone',
		    title: '手机号'
		},{
		    field: 'createTime',
		    title: '创建时间',
		    formatter: function (value, row, index) {
		        return formatDate(row.createTime);
		    }
		}, {
		    field: 'expireTime',
		    title: '到期时间',
		    formatter: function (value, row, index) {
		        return formatDate(row.expireTime);
		    }
		}, {
		    field: 'description',
		    title: '备注'
		}, {
		    title: '操作',
		    formatter: function (value, row, index) {
		    	var id = row.id;
		    	var count = row.delayCount;
		        return ' <a class="btn btn-xs btn-danger" onclick="delayCustomer(' + "'" + id + "'" + ',' + "'" + count + "'" + ')"><i class="fa"></i>延期</a>';
		    }
		}
	];
		
    function dataQueryParams(params) {
    	return {
    			_size: params.limit,
    			_index: params.offset,
    			isBuy:0,
    			customerName:$("#customerName").val(),
    			qqAcount: $("#qqAcount").val(),
    			phone: $("#phone").val(),
    			startExpireTime: $("#startExpireTime").val(),
    			endExpireTime: $("#endExpireTime").val()};
    }
    function delayCustomer(cid,count) {
    	if(count>=3){ alert("你的延期次数已达上限，请联系管理员！"); return ; }
        //询问框
        layer.confirm('确定延期吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "#springUrl('/sys/manager/delayCustomer/')" + cid,
                datatype: "text",
                success: function (data) {
                    if(data == 'true'){
                    	$('#dataTable').bootstrapTable('refresh',{
                      	  url:dataUrl,
                      	  queryParams:dataQueryParams
                        });
                    }
                    layer.closeAll();
                }
            });
            
        }, function () {
            return;
        });
    }
    function doSearch(params){
      $('#dataTable').bootstrapTable('refresh',{
    	  url:dataUrl,
    	  queryParams:dataQueryParams
      });
    }

	function editCustom(id){
	   	var title = "新增客户";
	   	var url = "#springUrl('/sys/manager/edit.html')";
	   	if(id!=null){
	   		title = "编辑客户";
	   		url = url + "?id=" + id;
	   	}
	    layer.open({
	        type: 2,
	        title: title,
	        shadeClose: true,
	        shade: 0.8,
	        area: ['600px', '430px'],
	        fix: false,
	        maxmin: true,
	        content: url
	    });
	}
	
	$("#startExpireTime").datepicker({
        format: 'yyyy-mm-dd',
        language: 'en',
        pickDate: true,
        pickTime: true,
        language: 'cn',
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
      });
	$("#endExpireTime").datepicker({
        format: 'yyyy-mm-dd',
        language: 'en',
        pickDate: true,
        pickTime: true,
        language: 'cn',
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: true
      });
</script>
#end
#extends("/common/framework.html")
